{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        camel-snake-kebab {:mvn/version "0.4.1"}
        cheshire {:mvn/version "5.9.0"}
        clj-rss {:mvn/version "0.2.5"}
        clj-text-decoration {:mvn/version "0.0.3"}
        enlive {:mvn/version "1.1.6"}
        hawk {:mvn/version "0.2.11"}
        hiccup {:mvn/version "1.0.5"}
        io.aviso/pretty {:mvn/version "0.1.37"}
        me.raynes/fs {:mvn/version "1.4.6"}
        pandect {:mvn/version "0.6.1"}
        prismatic/schema {:mvn/version "1.1.12"}
        selmer {:mvn/version "1.12.27"}}}